<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to Health Monitoring <br>System</h1> 
        <p>Click the button below to view the list of patients.</p>
        <a href="/patients" class="button">View Patients List</a>
    </div>
</body>
</html>
